venv
.venv
sync.sh
summaries.db
.env
node_modules
data
package-lock.json
dump_summaries.sql
.DS_Store
.git
__pycache__
.mypy_cache
.pytest_cache
dist
build
out
.next
.nuxt
.turbo
.parcel-cache
.cache
target
src-tauri/target
src-tauri/gen
coverage
logs
tmp
temp
output
tmp*
*.log
*.tmp
*.swp
*.lock
*.exe

Cargo.lock
!src-tauri/Cargo.lock

src-tauri/resources/backend/*
!src-tauri/resources/backend/.gitkeep
src-tauri/resources/ffmpeg/*
!src-tauri/resources/ffmpeg/.gitkeep
*.o
*.dylib
